.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: fit-content;
  max-width: 1280px;
}

.hero {
  display: flex;
  align-items: center;
  gap: 100px;
}

.hero-caption {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-caption p:first-child {
  font-size: 3rem;
  font-weight: 500;
}

.hero-caption p:last-child {
  font-size: 1.7rem;
  font-weight: 500;
}

.img-wrapper {
  width: 400px;
  border-radius: 50%;
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  object-fit: cover;
  filter:contrast(80%);
}