nav {
  position: fixed;
  z-index: 0;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 80px;
  height: calc(100vh - 20px);
  background-color: rgb(44,45,49);
  border-radius: 10px;
  overflow: hidden;
  transition: .3s;
}

nav:hover {
  width: 270px;
}

.link-wrapper {
  width: 100%;
  padding: 5px 0;
  transition: .2s;
}

.link-wrapper:hover {
  background-color: rgb(1, 121, 121);
}

.link-wrapper li {
  display: flex;
  align-items: center;
  gap: 50px;
  text-wrap: nowrap;
  width: 250px;
  margin-left: calc(40px - (27.19px / 2));
  list-style: none;
  cursor: pointer;
  font-size: 1.7rem;
  color: white;
}

.ex-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 300px;
  transition: .4s ;
}

.ex-links li {
  display: grid;
  place-content: center;
  list-style: none;
  cursor: pointer;
  font-size: 1.7rem;
  color: white;
  transition: transform .4s ease, background-color .2s ease;
  width: 50px;
  height: 50px;
  border-radius: 50%
}

.ex-links li:hover {
  background-color: rgb(1, 121, 121);
}

nav:hover > .ex-links {
  transform: rotate(-90deg);
}

nav:hover > .ex-links li {
  transform: rotate(90deg);
}
