#root {
  font-family: Poppins, sans-serif;
  display: flex;
  align-items: center;
  min-height: 100vh;
  max-width: calc(100% - 100px);
  margin-left: 100px;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(36,37,40);
  min-height: 100vh;
}





